:root {
    --gr_color: #D9D9D9;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(80px, auto) / 1fr;
    grid-template-areas:
            "header"
            "main"
            "footer";

}

.header {
    background-color: aqua;
    grid-area: header;
    display: grid;
    grid-template: 1fr / minmax(auto, 1fr) 4fr 2fr minmax(auto, 1fr);
    align-items: center;
}

.header__logo {
    background-color: white;
    grid-column: 2/3;
}

.header__menu {
    grid-column: 3/4;
}

.header__list {
    background-color: burlywood;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    outline: 1px solid black;
}

.header__button {
    padding: 5px 15px;
    border-radius: 30px;
    /*margin: 0 auto;*/
}

.header__list li {
    display: grid;
    margin: 0 1vw;
    outline: 3px solid red;
}

.header__link {
    font-size: 16px;
    white-space: nowrap;
    /*text-align: center;*/
}

.header__list li:last-child{
    margin-left: 3vw;
    margin-right: 0;
}

.header__button:hover {
    background-color: var(--gr_color);
}

.main {
    background-color: darkkhaki;
    grid-area: main;
    display: grid;
    grid-template: 1fr / minmax(auto, 1fr) 6fr minmax(auto, 1fr);
}

.content {
    grid-column: 2/3;
    display: grid;

}


.content__image img{
    width: 30%;
    height: 30%;
}

.footer {
    background-color: cyan;
    grid-area: footer;
    display: grid;
    grid-template: 1fr / minmax(auto, 1fr) 4fr 2fr minmax(auto, 1fr);
}

.footer__logo{
    grid-column: 2/3;
}

.footer__menu{
    grid-column: 3/4;
}