:root {
    --font-family: "Inter", sans-serif;
}

body {
    font-family: var(--font-family), sans-serif;
    background: #edf2f4;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #2B2D42;
    margin: 5px 5px 42px;
    border-radius: 20px;
    padding: 0 28px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 24px;
}

.svg-logo {
    width: 64px;
    height: auto;
}

.header__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 52px;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__image {
    order: -1;
    width: 82%;
    max-width: 588px;
    height: auto;
    margin-bottom: 18px;
}


.header__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 48px;
    color: #fff;
}

.header__text {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #edf2f4;
}

.main-section {
    max-width: 90%;
    margin: 0 auto 60px;
}

.main-section__title {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 22px;
}

.main-section__cards {
    display: grid;
    gap: 10px;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    color: #3e3e3e;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.main-card__large {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    color: #3e3e3e;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.main-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card__large .main-card__title {
    margin-bottom: 20px;
}

.main-card__icon, .main-card__image {
    transition: color 0.5s;
    margin-bottom: 20px;
}

.main-card__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.main-card__title {
    font-weight: 600;
    font-size: 28px;
}

.main-card__text {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2b2d42;
    padding: 40px;
}

.search-section__img {
    width: 80%;
    max-width: 560px;
    margin-bottom: 10px;
}

.search-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section__title {
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #edf2f4;
    margin-bottom: 22px;
}

.search-section__text {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.primary-button {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 0.05em;
    color: #fff;
    background: #ef233c;
    border-radius: 20px;
    padding: 4px 32px;
}

.search-section__title span {
    color: #d90429;
}


@media (min-width: 800px) {
    .header__menu {
        display: flex;
        column-gap: 30px;
    }

    .header__menu-button {
        font-weight: 600;
        font-size: 24px;
        color: #fff;
        padding: 11px 20px 13px;
        background: #4a4c5a;
        border-radius: 20px;
    }

    .header__menu-button:last-child {
        background: #ef233c;
    }

    .main-section__cards {
        grid-template: 227px 200px 200px 227px / 1fr 1fr;
    }

    .main-card__large {
        display: flex;
        flex-direction: row;
    }

    .main-card {
        align-items: unset;
    }

    .main-card__top {
        flex-direction: row;
    }

    .main-card__content {
        align-items: initial;
    }

    .main-card__icon {
        order: 2;
        margin-bottom: unset;
        margin-left: 40px;
    }

    .main-card__image {
        margin-bottom: unset;
        margin-right: 26px;
    }

    .main-card__text {
        text-align: initial;
    }

    .main-card-1 {
        grid-column: 2 span;
        grid-row: 1 / 2;
    }

    .main-card-2 {
        grid-column: 1 span;
        grid-row: 2 / 3;
    }

    .main-card-3 {
        grid-column: 1 span;
        grid-row: 2 / 3;
    }

    .main-card-4 {
        grid-column: 1 span;
        grid-row: 3 / 4;
    }

    .main-card-5 {
        grid-column: 1 span;
        grid-row: 3 / 4;
    }

    .main-card-6 {
        grid-column: 2 span;
        grid-row: 4 / 5;
    }
}

@media (min-width: 1120px) {
    .search-section {
        flex-direction: row;
    }

    .search-section__content {
        margin-left: 40px;
        align-items: initial;
    }

    .search-section__title {
        text-wrap: wrap;
        text-align: initial;
    }

    .search-section__text {
        text-align: initial;
    }

    .primary-button {
        align-self: flex-start;
    }
}

@media (any-hover: hover) {
    .main-card:hover, .main-card__large:hover {
        border: 1px solid #ef233c;
    }

    .main-card:hover .main-card__icon,
    .main-card__large:hover .main-card__image {
        color: #ef233c;
    }
}






