body {
    font-family: Cambria, sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

h2 {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.radio-title {
    font-size: 1.05rem;
    font-weight: 500;
}

.gender-options {
    display: flex;
    gap: 28px;
    grid-column: 1/2;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}


.register-button {
    grid-column: span 2;
}

