:root {
    --gr_color: #D9D9D9;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(80px, auto) / 1fr;
    grid-template-areas:
            "header"
            "main"
            "footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 3.75fr) 2.25fr minmax(auto, 0.3fr);
    align-items: center;
}

.header__logo {
    grid-column: 2/3;
}

.header__logo img{
    width: 3vw;
}

.header__menu {
    grid-column: 3/4;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__button {
    padding: 5px 15px;
    border-radius: 30px;
    margin: 0 auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.header__link {
    font-size: 16px;
    white-space: nowrap;
    color: black;
    text-align: center;
}

.header__link.active {
    color: #007bff;
}

.main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / minmax(auto, 0.3fr) 6fr minmax(auto, 0.3fr);

}

.main__card-list{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2vh 2vw;
    justify-items: center;
}

.main__card{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    height: auto;
    width: 100%;
    box-shadow: 0 0 6px var(--gr_color);
    padding: 1em;
    gap: 1.4em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card_info{
}

.card__title{
    font-size: 1.2rem;
    margin-bottom: 0.4em;
}

.card__image{
    max-height: 85%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 4.5fr) 1.5fr minmax(auto, 0.3fr);
    align-items: center;
}

.footer__logo{
    grid-column: 2/3;
}

.footer__menu{
    grid-column: 3/4;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__link img {
    width: 3vw;
}

.footer__logo img{
    width: 3vw;
}

@media (min-width: 500px) {
    .main__card-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px){
    .header {
        grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 3.75fr) 2.25fr minmax(auto, 0.3fr);
    }
    .main {
        grid-template: 1fr / minmax(auto, 0.3fr) 6fr minmax(auto, 0.3fr);
    }
    .main__card{
        padding: 2em;
        gap: 2em;
    }

    .footer {
        grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 4.5fr) 1.5fr minmax(auto, 0.3fr);
    }
}

@media (min-width: 1100px){
    .header {
        grid-template: 1fr / minmax(auto, 1fr) minmax(auto, 3.75fr) 2.25fr minmax(auto, 1fr);
    }
    .main {
        grid-template: 1fr / minmax(auto, 1fr) 6fr minmax(auto, 1fr);
    }
    .footer {
        grid-template: 1fr / minmax(auto, 1fr) minmax(auto, 4.5fr) 1.5fr minmax(auto, 1fr);
    }
}

@media (any-hover: hover) {
    .main__card:hover{
        box-shadow: 0 0 16px var(--gr_color);
    }
    .header__button:hover {
        background-color: var(--gr_color);
    }
}

