:root {
    --gr_color: #D9D9D9;
}

body {
    font-family: Cambria, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: grid;
    overflow: hidden;
    grid-template: minmax(100px, auto) 1fr minmax(80px, auto) / 1fr;
    grid-template-areas:
            "header"
            "main"
            "footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 3.75fr) 2.25fr minmax(auto, 0.3fr);
    align-items: center;
}

.header__logo {
    grid-column: 2/3;
}

.header__logo img{
    width: 3vw;
}

.header__menu {
    grid-column: 3/4;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__button {
    padding: 5px 15px;
    border-radius: 30px;
    margin: 0 auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.header__link {
    font-size: 1.4rem;
    white-space: nowrap;
    color: black;
    text-align: center;
}

.header__link.active {
    color: #007bff;
}

.main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / minmax(auto, 0.3fr) 6fr minmax(auto, 0.3fr);

}

.main__card-list{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 2vh 2vw;
    justify-items: center;
}

.main__card{
    display: flex;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 6px var(--gr_color);
    padding: 1em;
    gap: 1.4em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card_content{
}

.main-card__title{
    font-size: 1.4rem;
    padding-bottom: 0.1em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid var(--gr_color);
}

.information-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.information-list__item {
    display: flex;
    column-gap: 0.2rem;
    align-items: center;
}

.information__title {
    font-size: 1.05rem;
}

.information__text {
    font-size: 1.08rem;
}

.main-card__image{
    box-shadow: 0 0 5px #D9D9D9;
    height: clamp(50px, 120px, 150px);
    width: clamp(50px, 120px, 150px);
    overflow: hidden;
    border-radius: 5px;
}

.main-card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 4.5fr) 1.5fr minmax(auto, 0.3fr);
    align-items: center;
}

.footer__logo{
    grid-column: 2/3;
}

.footer__menu{
    grid-column: 3/4;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__link img {
    width: 3vw;
}

.footer__logo img{
    width: 3vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal__content {
    background: white;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 0.1s ease-in-out;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal__body {
    display: flex;
    gap: 20px;
    /*flex-direction: column;*/
}

.modal__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.modal__details {
    flex: 1;
}

.modal__title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.modal__info li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}


.rating {
    margin-top: 1em;
}

.rating__item {
    margin-bottom: 0.5em;
}

.rating__title {
    font-size: 0.95rem;
    margin-bottom: 0.2em;
}

.rating__bar {
    position: relative;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 3px;
    overflow: hidden;
}

.rating__fill {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.rating__marker {
    position: absolute;
    top: -4px;
    transform: translateX(-50%);
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (min-width: 750px) {
    .main__card-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px){
    .header {
        grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 3.75fr) 2.25fr minmax(auto, 0.3fr);
    }
    .main {
        grid-template: 1fr / minmax(auto, 0.3fr) 6fr minmax(auto, 0.3fr);
    }
    .main__card{
        padding: 2em;
        gap: 2em;
    }

    .footer {
        grid-template: 1fr / minmax(auto, 0.3fr) minmax(auto, 4.5fr) 1.5fr minmax(auto, 0.3fr);
    }
}

@media (min-width: 1100px){
    .header {
        grid-template: 1fr / minmax(auto, 1fr) minmax(auto, 3.75fr) 2.25fr minmax(auto, 1fr);
    }
    .main {
        grid-template: 1fr / minmax(auto, 1fr) 6fr minmax(auto, 1fr);
    }
    .footer {
        grid-template: 1fr / minmax(auto, 1fr) minmax(auto, 4.5fr) 1.5fr minmax(auto, 1fr);
    }
}

@media (any-hover: hover) {
    .main__card:hover{
        box-shadow: 0 0 16px var(--gr_color);
    }
    .header__button:hover {
        background-color: var(--gr_color);
    }
}

